/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.header {
  height: 13vh;

  &__nav {
    display: block;
  }
  & .logo {
    margin-bottom: 2vh;
    img{
      height: 12vh;
    }
  }
}

#content {
  padding-top: 13vh;
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

.hero {
  overflow: hidden;
  
  &__title {
    width: 30%;
  }
}

.concept {
  width: 80%;

  p {
    margin: 14px 0;
  }
}

.menu {
  width: 80%;
  
  &__title {
    border-bottom: 0.9px solid black;
  }
  
  .lunch{
    &__set {
      margin-bottom: 14px;
    }
  }
  .dinner {
    &__course {
      p {
        margin: 18px 0 0 2%;
      }
      dd {
        margin: 0 0 20px 2%;
      }
    }
  }
}

.news {
  width: 80%;
}

.information{
  width: 80%;
}
.info{
  dd {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

/* ---- page dots ---- */
.flickity-page-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}