/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
    font-family: "Yu Mincho";
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.main-title {
  //color: #F0871A;
  font-weight: 600;
  margin: 10px 0 50px 0;
  display: block;
  font-size: 30px;
  position: relative;
  // -webkit-text-stroke: 0.1px $cBlack;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
  color: #F0871A;
  font-family: "Comic Sans MS";
  text-align: center;
}


#content {
  padding-top: $navHeight;
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.back-ground {
  height: 105%;
  margin: 5%;
  padding: 3% 5%;
  overflow: visible;
  background-color: rgb(255, 250, 244);
}

.cover-slide {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    // max-width: $contentMaxWidth;
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    & > a {
      margin-left: 40px;
      color: $cBlack;
      text-decoration: none !important;
      // text-transform: uppercase;
    }
  }

  & .logo {
    justify-content: center;
    margin-bottom: 1.5vh;
    img{
      height: 9vh;
      width: auto;
    }
  }
}

.concept {
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
  // max-width: $contentMaxWidth;

  &__inner {
    width: 90%;
    margin: 0 auto;
  }
  h3 {
    margin-top: 20px;
  }
  p {
    margin: 5px 0;
  }
}

.menu {
  width: 100%;
  margin: 0 auto;
  // max-width: $contentMaxWidth;

  &__head {
    width: 90%;
    margin: 0 auto;
    p {
      font-size: 12px;
      margin-bottom: 0;
      margin-left: 5px;
    }
  }
  &__title {
    margin: 10px 0;
    padding-bottom: 0;
    border-bottom: 0.5px solid black;

    div {
      margin-right: 3%;  
      display: inline-block;
    }
    h1{
      font-size: 22px;
      margin-bottom: 0;
    }
  }
  .menu-text{
    font-size: 10px;
    margin: 0 0 0 15px;
  }
  .menu__head-text {
    margin-bottom: 15px;
  }
  .note {
    font-size: 11px;
  }
  
  .lunch{
    width: 90%;
    margin: 0 auto;

    &__set {
      font-size: 13px;
      margin-bottom: 5px;
      div {
        display: inline-block;
        vertical-align: top;
      }
      h3 {
        margin-bottom: 0;
      }
      p {
        margin: 4px 0 1px 3%;
      }
      span {
        background: linear-gradient(transparent 40%,rgba(255, 200, 129, 0) 40%,rgb(255, 200, 129) 85%,rgba(255, 200, 129, 0));
        // background: linear-gradient(transparent 60%, rgba(255, 165, 48, 0.356) 40%);
      }
      dd {
        margin: 0 0 0 5%;
      }
      .menu-select{
        display: block;
        position: relative;
        &::before{
          content: "・";
        }
      }
      .point-leader {
        margin: 0 5px;
      }
      .braket {
        display: none;
      }
    }
  }
  .dinner {
    width: 90%;
    margin: 30px auto;
    &__course {
      font-size: 13px;
      p {
        margin: 12px 0 0 2%;
        &::before{
          content: "・";
        }
      }
      dd {
        margin: 0 0 5px 2%;
      }
      span {
        background: linear-gradient(transparent 40%,rgba(255, 200, 129, 0) 40%,rgb(255, 200, 129) 85%,rgba(255, 200, 129, 0));
        // background: linear-gradient(transparent 60%, rgba(255, 165, 48, 0.356) 40%);
      }
    }
  }
}

// slider
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gallery-cell {
  display: flex;
  align-items: center;
  // position: relative;
  width: 80%;
  height: auto;
  // margin-right: 5px;
}

.news {
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
  // max-width: $contentMaxWidth;

  &__inner {
    width: 90%;
    margin: 0 auto;
  }
  p {
    margin: 5px 0;
  }
  .cover-slide {
    margin: 10px auto;
  }
}

.information{
  width: 100%;
  margin: 30px auto 0 auto;
  // max-width: $contentMaxWidth;
}
.info{
  width: 90%;
  margin: auto;
  div{
    display: inline-block;
    margin: 0 2%;
    vertical-align: top;
  }
  dd {
    font-size: 13px;
    margin-top: 10px;
    p {
      margin: 0;
    }
  }
}
.map{
  position: relative;
  width: 100%;
  padding-top: 75%;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

footer{
  background-color: #F0871A;
  width: 100%;
  height: 7vh;
  padding: 0 3%;
}

.footer{
  margin: 0 2vh;
  color: black;
  display: flex;
  float: right;
  img{
    height: 7vh;
    width: auto;
    margin: 0 0;
  }
  span{
    margin-left: 10px;
    font-size: 10px;
  }
  .footer_item {
    text-decoration: none !important;
  }
}

#Concept{
  display: block;
  margin-top:-17vh;
  padding-top: 17vh;
}
#Menu{
  display: block;
  margin-top:-17vh;
  padding-top: 17vh;
}
#News{
  display: block;
  margin-top:-17vh;
  padding-top: 17vh;
}
#Information{
  display: block;
  margin-top:-17vh;
  padding-top: 17vh;
}

time {
  display: none;
}